.edit {
  width: 100%;
  .sidebar {
    background: #24292e;
    color: white;
    position: fixed;
    left: 0;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70px;
    height: calc(100vh - 50px);
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-radius: 5px;
      font-size: 40px;
      height: 70px;
      &:hover {
        background: darken(#24292e, 10%);
        cursor: pointer;
      }
    }
  }
  .options {
    position: fixed;
    left: 70px;
    top: 50px;
    width: 200px;
    background: #24292e;
    height: calc(100vh - 50px);
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    .topList {
      position: absolute;
      top: -50px;
      left: 0;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        margin: 0;
        width: fit-content;
      }
    }
    .list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      overflow-y: auto;
      cursor: pointer;
      img {
        //width: 100%;
        //width: calc(100% - 22px);
        width: 100%;
        //height: 70px;
      }
      span {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .wrapper {
        //width: 100%;
        min-height: 50px;
        margin-top: 10px;
        //border: 1px dashed;
        display: flex;
        //justify-content: center;
        //align-items: center;
        //flex-wrap: wrap;
        //position: relative;
        .delete {
          width: 20px;
          min-height: 100%;
          display: flex;
          align-items: flex-start;
          position: relative;
          right: 20px;
          color: red;
          background: rgba(36, 41, 46, .5);
          &:hover {
            background: rgba(255, 0, 0, .5);
            color: #24292e;
          }
        }
      }
      .selectedItem {
        border: 1px solid lime !important;
      }
    }
    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    textarea, input, button, select {
      padding: 5px;
    }
    select {
      margin: 0 5px;
      background: #24292e;
      color: white;
      cursor: pointer;
    }
    input[type="number"] {
      width: 50px;
      margin-left: 5px;
    }
    .iconContainer {
      display: flex;
      justify-content: flex-end;
    }
    .icon {
      background: transparent;
      border-radius: 2px;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 20px;
      &:hover {
        background: darken(#24292e, 10%);
      }
    }
  }
  .selected {
    color: lime;
  }
}

@media (max-width: 720px) {
  .edit {
    .sidebar {
      top: auto;
      bottom: 0;
      width: 100%;
      height: 70px;
      flex-direction: row;
    }
    .options {
      overflow-x: auto;
      top: auto;
      bottom: 70px;
      left: 0;
      width: 100%;
      height: 100px;
      flex-direction: row;
      label {
        flex-direction: column;
        p {
          margin: 0;
        }
      }
    }
  }
}